.blogs{
    width: 700px;
    height:300px;
    border: 2px solid gray;
    overflow: hidden;
    display: flex;
    margin-bottom: 30px;
    border-radius: 10px;
    /* white-space: space; */
}
.img-blog{
    background-image: url("./img/minion.jpg");
    height: 300px;
    width: 40%;
    background-size: 100% 100%;
}
.test{
    width: 60%;
    padding-left: 15px;
}